{% extends "layout.html" %}
{% block content %}
<h1>{{current_user.name}}</h1>


<div class="grid_3">
<div class="container">
   <div class="breadcrumb1">
     <ul>
        <a href="index-2.html"></a>
        <span class="divider"></span>
        
     </ul>
   </div>

   <div class="services">
   	  <div class="col-sm-6 login_left">


           <form method="POST" action="" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="form-group">Login</legend>
					<div class="form-group">
		{{ form.maritial_status.label(class="form-control-label") }}
		{% if form.maritial_status.errors %}
			{{ form.maritial_status(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.maritial_status.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.maritial_status(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.mother_tongue.label(class="form-control-label") }}
		{% if form.mother_tongue.errors %}
			{{ form.mother_tongue(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.mother_tongue.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.mother_tongue(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.weight.label(class="form-control-label") }}
		{% if form.weight.errors %}
			{{ form.weight(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.weight.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.weight(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.height.label(class="form-control-label") }}
		{% if form.height.errors %}
			{{ form.height(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.height.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.height(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.state.label(class="form-control-label") }}
		{% if form.state.errors %}
			{{ form.state(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.state.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.state(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.drink.label(class="form-control-label") }}
		{% if form.drink.errors %}
			{{ form.drink(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.drink.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.drink(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.religion.label(class="form-control-label") }}
		{% if form.religion.errors %}
			{{ form.religion(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.religion.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.religion(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.place_of_birth.label(class="form-control-label") }}
		{% if form.place_of_birth.errors %}
			{{ form.place_of_birth(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.place_of_birth.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.place_of_birth(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.education.label(class="form-control-label") }}
		{% if form.education.errors %}
			{{ form.education(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.education.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.education(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.occupation.label(class="form-control-label") }}
		{% if form.occupation.errors %}
			{{ form.occupation(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.occupation.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.occupation(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.income.label(class="form-control-label") }}
		{% if form.income.errors %}
			{{ form.income(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.income.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.income(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
					{{ form.mother_name.label(class="form-control-label") }}
					{% if form.mother_name.errors %}
						{{ form.mother_name(class="form-control form-control-label-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.mother_name.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.mother_name(class="form-control form-control-label-lg")}}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.father_name.label(class="form-control-label") }}
					{% if form.father_name.errors %}
						{{ form.father_name(class="form-control form-control-label-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.father_name.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.father_name(class="form-control form-control-label-lg")}}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.sister.label(class="form-control-label") }}
					{% if form.sister.errors %}
						{{ form.sister(class="form-control form-control-label-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.sister.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.sister(class="form-control form-control-label-lg")}}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.brother.label(class="form-control-label") }}
					{% if form.brother.errors %}
						{{ form.brother(class="form-control form-control-label-lg is-invalid",placeholder="test")}}
						<div class="invalid-feedback">
							{% for error in form.brother.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.brother(class="form-control form-control-label-lg")}}
					{% endif %} 
				</div>
				<div class="form-group">
					{{ form.family_joint.label(class="form-control-label") }}
					{% if form.family_joint.errors %}
						{{ form.family_joint(class="form-control form-control-label-lg is-invalid",placeholder="test")}}
						<div class="invalid-feedback">
							{% for error in form.family_joint.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.family_joint(class="form-control form-control-label-lg")}}
					{% endif %} 
				</div>
				<div class="form-group">
		{{ form.min_age.label(class="form-control-label") }}
		{% if form.min_age.errors %}
			{{ form.min_age(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.min_age.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.min_age(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.max_age.label(class="form-control-label") }}
		{% if form.max_age.errors %}
			{{ form.max_age(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.max_age.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.max_age(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.status.label(class="form-control-label") }}
		{% if form.status.errors %}
			{{ form.status(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.status.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.status(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.complexion.label(class="form-control-label") }}
		{% if form.complexion.errors %}
			{{ form.complexion(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.complexion.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.complexion(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.p_religion.label(class="form-control-label") }}
		{% if form.p_religion.errors %}
			{{ form.p_religion(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.p_religion.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.p_religion(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.language.label(class="form-control-label") }}
		{% if form.language.errors %}
			{{ form.language(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.language.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.language(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.p_education.label(class="form-control-label") }}
		{% if form.p_education.errors %}
			{{ form.p_education(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.p_education.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.p_education(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.p_state.label(class="form-control-label") }}
		{% if form.p_state.errors %}
			{{ form.p_state(class="form-control form-control-label-lg is-invalid")}}
			<div class="invalid-feedback">
				{% for error in form.p_state.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.p_state(class="form-control form-control-label-lg")}}
		{% endif %}
	</div>
	<div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
		
				</fieldset>
			<div class="form-group">
				{{form.submit(class="btn btn-outline-info")}}
				
			</div>
			<small>
				<a href="#"> Forget Password?</a>
			</small>
	
		</form>
        </div>
	  </div>
	  <br>
	  <br>
	  <br>
	  <div class="col-sm-6">
	  	<div class="border-top pt-3">
		<h2 class="text-muted">
			Need an Account? <a class="ml-2" href="{{ url_for('users.register') }}"><br/>Sign Up</a>
		</h2>
	  </div>
	  <div class="clearfix"> </div>
   </div>

  </div>
</div>







{% endblock content %}