{% extends "layout.html" %}
{% block content %}



<div class="grid_3">
<div class="container">
   <div class="breadcrumb1">
     <ul>
        <a href="index-2.html"></a>
        <span class="divider"></span>
        
     </ul>
   </div>

   <div class="services">
   	  <div class="col-sm-6 login_left">


           <form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="form-group"><h2>Login</h2></legend>
				<div class="form-group">
					{{ form.email.label(class="form-control-label") }}
					{% if form.email.errors %}
						{{ form.email(class="form-control form-control-label-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class="form-control form-control-label-lg")}}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.password.label(class="form-control-label") }}
					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-label-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control form-control-label-lg")}}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.remember(class="form-check-input")}}
					{{ form.remember.label(class="form-check-label")}} 
				</div>
				</fieldset>
			<div class="form-group">
				{{form.submit(class="btn btn-outline-info")}}
				
			</div>
			<small>
				<a href="#"> Forget Password?</a>
			</small>
	
		</form>
        </div>
	  </div>
	  <br>
	  <br>
	  <br>
	  <div class="col-sm-6">
	  	<div class="border-top pt-3">
		<h2 class="text-muted">
			Need an Account? <a class="ml-2" href="{{ url_for('users.register') }}"><br/>Sign Up</a>
		</h2>
	  </div>
	  <div class="clearfix"> </div>
   </div>

  </div>
</div>







{% endblock content %}