









{% extends 'layout.html'%}
{% block content %}
{%  if messages.total!=0 %}
<h1 class="mb-3">{{current_user.name}} your's Inbox   ({{messages.total}})</h1>


<section class="courses">
    {% for message in messages.items %}
      {% if message.user.profile %}
         <article>

           <hgroup>
               <h2>Sent by : <a href="{{url_for('profiles.profile' , id=message.sender_id) }}">{{message.user.name}}</a></h2>


           </hgroup>
           <div>
            <h4>Proposal</h4>
           <p class="article-content">{{ message.content }}</p>
         </div>
         <br>
         <h5><strong>Proposal Sent on : {{ message.timing.strftime('%b ,%d %Y %I:%M %p') }}</strong></h5>



         </article>
       </section>

      {% endif %}
    {% endfor %}
   {% else %}
    <h1><legend><h1>Inbox!</h1></legend></h1>
<div class=""><h2>Your inbox is empty</h2><br><h3></div><h3></div>
  {% endif %}
{% endblock %}
{% block ring %}
<div class="container">
  {% for page_num in messages.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if messages.page== page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('messages.user_message', page=page_num)}}" >{{page_num}}</a>
      {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('messages.user_message',page=page_num)}}">{{page_num}}</a>
      {% endif %}
    {% else %}
    ...
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}









