{% extends "layout.html" %}
{% block content %}



<div class="grid_3">
<div class="container">
   <div class="breadcrumb1">
     <ul>
        <a href="index-2.html"></a>
        <span class="divider"></span>
        
     </ul>
   </div>

   <div class="services">
   	  <div class="col-sm-6 login_left">


           <form method="POST" action="" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="form-group">Search</legend>
				<div class="form-group">
					{{ form.gender.label(class="form-control-label") }}
					{% if form.gender.errors %}
						{{ form.gender(class="form-control form-control-label-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.gender.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.gender(class="form-control form-control-label-lg")}}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.religion.label(class="form-control-label") }}
					{% if form.religion.errors %}
						{{ form.religion(class="form-control form-control-label-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.religion.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.religion(class="form-control form-control-label-lg")}}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.maritial_status.label(class="form-control-label") }}
					{% if form.maritial_status.errors %}
						{{ form.maritial_status(class="form-control form-control-label-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.maritial_status.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.maritial_status(class="form-control form-control-label-lg")}}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.min_age.label(class="form-control-label") }}
					{% if form.min_age.errors %}
						{{ form.min_age(class="form-control form-control-label-lg is-invalid",placeholder="test")}}						
						<div class="invalid-feedback">
							{% for error in form.min_age.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% elif form.max_age.errors %}
						{{ form.max_age(class="form-control form-control-label-lg is-invalid ",placeholder="test")}} to
						<div class="invalid-feedback">
							{% for error in form.max_age.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.min_age(class="form-control form-control-label-lg")}}
						to 
						{{ form.max_age(class="form-control form-control-label-lg is-invalid",placeholder="test")}}
					{% endif %} 
				</div>
				
				</fieldset>
			<div class="form-group">
				{{form.submit(class="btn btn-outline-info")}}
				
			</div>
			
	
		</form>
        </div>
	  </div>
	  <br>
	  <br>
	  <br>
	  <div class="col-sm-6">
	  	<div class="border-top pt-3">
		<h2 class="text-muted">
			View Your Profile? <a class="ml-2" href="{{ url_for('profiles.myprofile') }}"><br/>MyProfile</a>
		</h2>
	  </div>
	  <div class="clearfix"> </div>
   </div>

  </div>
</div>







{% endblock content %}