{% extent  "layout.html" %}
{% block content %}
	<article class="media content-section">
      <img class="rounded-circle account-img" src="/static/pictures/0ef646951fd94992a7f1dab48671e15b.jpg"> 
  			<div class="media-body">
    			<div class="article-metadata">
      				<a class="mr-2" href="/user/raj1">raj1</a>
      				<small class="text-muted">2019-01-27</small>
    			</div>
    			<h2><a class="article-title" href="/post/11">SDFJJJJJDSAJSAJF</a></h2>
    			<p class="article-content">MDKNFAJNSJFGJDSAFNDJDSFKDSAFJKDNJ
					DFDSAFDSAF</p>
 			 </div>
		</article>
{% endblock %}